<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sân cầu lông</title>
    <link rel="stylesheet" href="{% static 'DLSCL/css/home.css' %}">
     <!-- <link rel="stylesheet" href="/DLSCL/static/DLSCL/css/home.css"> -->
</head>
<body>
    <div class="container">
        <nav>
            <ol id="logo">
                <!-- <img src="static/DLSCL/pics/Logo_Bad.png" alt="Logo"> -->
                <!-- <img src="{% static 'DLSCL/pics/Logo_Bad.png' %}"> -->
            </ol>
            <ul>
                <li>
                    <a href="#">
                        Đặt sân
                    </a>
                </li>
                <li>
                    <a href="#">
                        Hóa đơn
                    </a>
                </li>
                <li>
                    <a href="#">
                        Voucher
                    </a>
                </li>
                <li>
                    <a href="#">
                        Dịch vụ
                    </a>
                </li>
                <li>
                    <a href="#">
                        Kho
                    </a>
                </li>
                <li>
                    <a href="./test.html">
                        Quản lý Khách
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>