<html>
 <head>
    {% load static %}
  <title>
   Login Page
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&amp;display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'DLSCL/css/home.css' %}">
   <!-- <link rel="stylesheet" href="/Login/static/css/login.css"> -->
 </head>
 <body>
  <!-- <img class="background" src="{% static 'Login/pics/lg_bg_png.png' %}" alt="background"> -->
   <div class="header">
     <img src="{% static 'DLSCL/pics/Logo_Bad.png' %}" alt="Logo">
     <nav>
       <a href="#">
         Trang chủ
        </a>
        <a href="#">
          Sản phẩm
        </a>
        <a href="#">
          Đơn hàng
        </a>
        <a href="#">
          Trang cá nhân
        </a>
      </nav>
      <a href="{%url 'login:login'%}">
        <button class="login-btn">
            ĐĂNG NHẬP
        </button>
      </a>
      
    </div>
</div>
 </body>
 <!-- <img src="{% static 'Login/pics/lg_bg.jpeg' %}" alt=""> -->
</html>