{% extends "base_home/base.html" %}
{% load static %}

{% block base-css %}
<link rel="stylesheet" href="{% static 'base_home/css/register.css' %}">
{% endblock base-css %}

{% block navbar %}
<div class="header">
    <img src="{% static 'base_home/pics/Logo_Bad.png' %}" alt="Logo">
    <nav>
      <a href="{% url 'base:main' %}">
        Trang chủ
       </a>
       <a href="{% url 'base:login' %}">
         Sản phẩm
       </a>
       <a href="#">
         Đơn hàng
       </a>
       <a href="#">
         Trang cá nhân
       </a>
     </nav>
     <button class="login-btn">
       ĐĂNG NHẬP
     </button>
   </div>
{% endblock navbar %}

{% block main-content %}
<div class="container">
  
  {% if submitted %}
      You Have Registed Successfully!!!
      Login now!!!
      <a href="{% url 'base:login' %}">Click here</a>
  {% else %}
<form method="POST" action="">
  {% csrf_token %}
  

 <div class="register-form">
   <h2>
    Register
   </h2>
   {{form.as_p}}
    {% comment %} 
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="uname">
      <i class='fas fa-user'></i>
    </div>
    <div class="input-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
      <i class='fas fa-envelope'></i>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" name="email">
      <i class='fas fa-pen'></i>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name="email">
      <i class='fas fa-pen'></i>
    </div>
    <div class="input-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwd">
      <i class='fas fa-lock'></i>
    </div>
    <div class="input-group">
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Birthday" name="birth">
      <i class='fas fa-calendar'></i>
    </div>
    <div class="input-group">
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telephone" name="telephn">
      <i class='fas fa-phone'></i>
    </div> {% endcomment %}
    <button type="submit" class="btn btn-secondary">Submit</button>
  
  </div>
  </form> 
  {% endif %}
    
  
</div>
{% endblock main-content %}

