{% extends "base_home/base.html" %}
{% load static %}

{% block base-css %}
<link rel="stylesheet" href="{% static 'base_home/css/register.css' %}">
{% endblock base-css %}

{% block navbar %}
<div class="header">
    <img src="{% static 'base_home/pics/Logo_Bad.png' %}" alt="Logo">
    <nav>
      <a href="{% url 'base:main' %}">
        Trang chủ
       </a>
       <a href="{% url 'base:login' %}">
         Sản phẩm
       </a>
       <a href="#">
         Đơn hàng
       </a>
       <a href="#">
         Trang cá nhân
       </a>
     </nav>
     <button class="login-btn">
       ĐĂNG NHẬP
     </button>
   </div>
{% endblock navbar %}

{% block main-content %}
<div class="container">
  <div class="register-form">
   <h2>
    Register
   </h2>
   <div class="input-group">
    <i class="fas fa-envelope">
    </i>
    <input placeholder="Email" type="email"/>
   </div>
   <div class="input-group">
    <i class="fas fa-user">
    </i>
    <input placeholder="Username" type="text"/>
   </div>
   <div class="input-group">
    <i class="fas fa-lock">
    </i>
    <input placeholder="Password" type="password"/>
   </div>
   <div class="input-group">
    <i class="fas fa-lock">
    </i>
    <input placeholder="Confirm password" type="password"/>
   </div>
   <div class="links">
    <p>
     Đã có tài khoản?
     <a href="{%url 'base:login'%}">
      Đăng nhập ngay
     </a>
    </p>
   </div>
   <button class="submit-btn">
    Submit
   </button>
  </div>
</div>
{% endblock main-content %}

