{% extends "base_home/base.html" %}
{% load static %}

{% block base-css %}
<link rel="stylesheet" href="{% static 'base_home/css/login.css' %}">
{% endblock base-css %}

{% block navbar %}
<div class="header">
    <img src="{% static 'base_home/pics/Logo_Bad.png' %}" alt="Logo">
    <nav>
      <a href="{% url 'base:main' %}">
        Trang chủ
       </a>
       <a href="#">
         Sản phẩm
       </a>
       <a href="#">
         Đơn hàng
       </a>
       <a href="#">
        Kho Voucher
      </a>
       <a href="#">
         Trang cá nhân
       </a>
     </nav>
    <a href="{% url 'base:login' %}">
      <button class="login-btn">
       ĐĂNG NHẬP
     </button>
    </a>
   </div>
{% endblock navbar %}

{% block main-content %}
<div class="container">
  <div class="login-form">
   <h2>
    Đăng nhập
   </h2>
   <div class="input-group">
    <i class="fas fa-user">
    </i>
    <input placeholder="Username" type="text"/>
   </div>
   <div class="input-group">
    <i class="fas fa-lock">
    </i>
    <input placeholder="Password" type="password"/>
   </div>
   <div class="links">
    <p>
     Chưa có tài khoản?
     <a href="{%url 'base:register'%}">
      Đăng kí ngay
     </a>
    </p>
   </div>
   <button class="submit-btn">
    Submit
   </button>
  </div>
</div>
{% endblock main-content %}

{% block base-js %}
<script src="{% static 'base_home/base.js' %}"></script>
{% endblock base-js %} 